---
import Layout from "../layouts/Layout.astro";
import chooseDeviceImg from "@assets/img/choose-device.svg";
import promotedStarImg from "@assets/img/symbols/promoted-star.svg";

const pageMeta = {
  title: "Ubuntu Touch • Linux mobile OS that gives you pure freedom",
  meta: [
    {
      name: "keywords",
      content: "Linux phone, Ubuntu Phone, Open Source Phone"
    },
    {
      name: "description",
      content:
        "Ubuntu Touch is the open source phone that has freedom and privacy in mind. Supported by dozens of devices, with installer for FOSS fans"
    },
    {
      property: "og:url",
      content: "https://devices.ubuntu-touch.io"
    },
    {
      property: "og:title",
      content: "Ubuntu Touch • Linux Phone"
    },
    {
      property: "og:description",
      content:
        "Ubuntu Touch is the open source phone that has freedom and privacy in mind. Supported by dozens of devices, with installer for FOSS fans"
    }
  ]
};
---

<Layout pageMeta={pageMeta}>
  <div class="devices-homepage">
    <toggle-button
      data-target="#sidebarCollapse"
      data-action="add"
      data-tgclass="show"
      data-scrollview
    >
      <img
        class="mb-5 d-lg-none cursor-lg-pointer d-print-none"
        src={chooseDeviceImg.src}
        alt="choose-device-img"
      />
    </toggle-button>
    <h1 class="mt-5 mb-3 h3">
      <a href="https://devices.ubuntu-touch.io/"
        >Find the Linux phone that suits you</a
      >
    </h1>
    <p class="h5">
      The list on the left shows devices supported by Ubuntu Touch. The
      so-called 'ports' for these are maintained by the UBports community, a
      collective of passionate Linux phone users who devote some of their free
      time so that you can enjoy Ubuntu Touch on your smartphone.
    </p>
    <p class="h5">
      By owning a particular UT device, you become part of that sub-community
      and you depend on ongoing maintenance of the port. These so-called 'ports'
      are also known as 'branches' of Core development.
    </p>
    <p class="h5">
      Some 'branches' are more robust than others and are more prominent and
      healthier. To estimate the size of the group behind a device, use the
      'Community' link on the device pages.
    </p>

    <h2 class="mb-2 mt-5 h4">
      Top choice devices
      <span class="badge badge-pill device-tag-promoted"
        ><img
          class="both-invert"
          src={promotedStarImg.src}
          alt="promoted-star"
        />
      </span>
    </h2>

    <p>
      Devices of the following three categories are the ones most likely to
      satisfy your needs over an extended period.
    </p>

    <b>Commercial maintainers</b>
    <p>
      Companies like Volla, FXP and Fairphone offer compatible Ubuntu Phones as
      part of their business. Their reputation rests on preventing any major
      problems and taking a long view. Some devices can even be bought with
      Ubuntu Touch already installed!
    </p>

    <b>Porters with a track record</b>
    <p>
      Some porters have built a reputation for long term commitment and
      competence.
    </p>

    <b>Ubuntu Touch Edition</b>
    <p>
      If you have one of the older devices, they are solid for now. Many in our
      community use them but technical difficulties in updating and closed
      source elements which we can’t access mean that those devices are not a
      good choice for anyone just starting with UT. They are also getting aged
      now and experience hardware faults.
    </p>
    <p>
      If you manage to grab a new generation Ubuntu Touch Edition device like
      the Pinephone Pro or a Volla phone, that will be supported for much longer
      of course.
    </p>

    <h2 class="mb-2 mt-5 h4">Get Help</h2>
    <p>
      Device performance may vary from one device to another. All mature devices
      have easy access to installation through the UBports installer. However,
      devices in an early state generally need to follow a manual installation
      procedure, which might be complicated. If you complete installation on
      yours, depending on your skills you can then assist others
      <a class="link" href="http://t.me/WelcomePlus/" target="_blank"
        >@UBports Welcome & Install
      </a>. if you don't speak english, try your local community.
    </p>

    <h2 class="mb-2 mt-5 h4">
      When will the device that you have be added to the list?
    </h2>
    <p>
      There are more than 24K different devices out there, which means the
      probability of your particular device becoming available is small. A phone
      is not truly a ‘desktop in your pocket’ but Ubuntu Touch uses the Ubuntu
      OS as its basis. Our best recommendation is that you get one of the phones
      highlighted on the list, so you can enjoy a real world Linux Phone
      experience.
    </p>
    <p>
      For more frequently asked questions, subscribe to
      <a class="link" target="_blank" href="https://t.me/UTFAQ/"
        >Ubuntu Touch FAQ</a
      >
    </p>

    <h2 class="mb-2 h4 mt-5">Local community support</h2>
    <p>
      UBports is formalized as a charitable foundation, but above all, it is a
      volunteer group. We will listen carefully and respectfully and will try to
      help you as much we can, in return you're welcome to help others.
    </p>
    <a href="https://t.me/ubports" class="link" target="_blank"
      >English (International)</a
    >,
    <a href="https://t.me/UBports_Arabic" class="link" target="_blank"
      >Arabic (عربى)</a
    >,
    <a href="https://t.me/ubports_pt" class="link" target="_blank"
      >Portuguese (Português)
    </a>,
    <a href="https://t.me/UBPorts_ES" class="link" target="_blank"
      >Spanish (ESPAÑOL)</a
    >,
    <a href="https://t.me/ubportsitaliano" class="link" target="_blank"
      >Italian (Italiano)
    </a>,
    <a href="https://t.me/UBports_IND" class="link" target="_blank"
      >Indonesia (BAHASA)</a
    >,
    <a href="https://t.me/UBports_Chinese" class="link" target="_blank"
      >Chinese (这里有中文)</a
    >,
    <a href="https://t.me/UBports_Tr" class="link" target="_blank"
      >Turkish (TÜRKÇE)
    </a>,
    <a href="https://t.me/UBports_Deutsch" class="link" target="_blank"
      >German (Deutsch)</a
    >,
    <a href="https://t.me/UBports_Esperanto" class="link" target="_blank"
      >Esperanto (Esperanto)</a
    >,
    <a href="https://t.me/UBports_French" class="link" target="_blank"
      >French (Français)</a
    >,
    <a href="https://t.me/UBports_Ru" class="link" target="_blank"
      >Russian (Русский)</a
    >,
    <a href="https://t.me/UBports_India" class="link" target="_blank"
      >India (Hindi/English)</a
    >,
    <a href="https://t.me/UBports_RO_ro" class="link" target="_blank"
      >Romania (Română)</a
    >,
    <a href="https://t.me/UBports_NL" class="link" target="_blank"
      >Dutch (Nederlands)
    </a>,
    <a href="https://t.me/UBports_ca" class="link" target="_blank"
      >Catalan (Català)
    </a>,
    <a href="https://t.me/UBports_KO" class="link" target="_blank"
      >Korean (한국어)</a
    >,
    <a href="https://t.me/UBports_SC" class="link" target="_blank"
      >Sardinian (Sardu)</a
    >,
    <a href="https://t.me/Ubports_CZ_SK" class="link" target="_blank"
      >Czech & Slovak</a
    >,
    <a href="https://t.me/UBports_scandinavia" class="link" target="_blank"
      >Scandinavia (Norsk, Svenska and Dansk)</a
    >,
    <a href="https://t.me/UBports_PL" class="link" target="_blank"
      >Polish (Polskie)</a
    >,
    <a href="https://t.me/UBports_UKR" class="link" target="_blank"
      >Ukrainian (Української!)
    </a>,
    <a href="https://t.me/UBports_Israel" class="link" target="_blank"
      >Israel (عربى & עברית)</a
    >,
    <a href="https://t.me/UBports_JP" class="link" target="_blank"
      >Japanese (日本語)</a
    >,
    <a href="https://t.me/UBports_fi" class="link" target="_blank"
      >Finnish (Suomi)</a
    >.

    <h2 class="mb-2 mt-5 h4">Disclaimer</h2>
    <p>
      We borrow software freely provided by others and in turn we share what we
      create. We hope you enjoy Ubuntu Touch and we put our best efforts into it
      with our limited resources. Individual users are welcome to use it, as
      they wish. Things rarely go badly wrong but if they do, remember that we
      have gifted the software to you in good faith and the decision to take any
      risk rests on your shoulders. We cannot cover your back if any damage is
      caused.
    </p>
  </div>
</Layout>
